.button {
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    background-color: #c3dbdb;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-align: center;

    &.view {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        text-align: center;
        transform: translateX(-195px);

        & .text-button {
            width: 195px;
            height: 80px;
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: 700;

        }

        & .icon {
            background-color: white;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
        }
    }

    &.primary {
        padding: 15px 30px;
        border-radius: 100px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
    }
}